WebServices/Apache Axis/TrainWeb/WebContent/WEB-INF/reservation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:irw="http://irct.co.in/rail/wsdl"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="reservation"
	targetNamespace="http://irct.co.in/rail/wsdl" xmlns:irt="http://irct.co.in/types">
	<wsdl:types>
		<xsd:schema targetNamespace="http://irct.co.in/types">
			<xsd:complexType name="TravelInfo">
				<xsd:sequence>
					<xsd:element name="src" type="xsd:string" />
					<xsd:element name="dest" type="xsd:string" />
					<xsd:element name="doj" type="xsd:date" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PassengerInfo">
				<xsd:sequence>
					<xsd:element name="ssn" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="age" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TicketInfo">
				<xsd:sequence>
					<xsd:element name="pnr" type="xsd:string" />
					<xsd:element name="coach" type="xsd:string" minOccurs="0"
						maxOccurs="1" />
					<xsd:element name="berth" type="xsd:int" minOccurs="0"
						maxOccurs="1" />
					<xsd:element name="status" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Reservation_bookTicket">
		<wsdl:part name="tInfo" type="irt:TravelInfo" />
		<wsdl:part name="pInfo" type="irt:PassengerInfo" />
	</wsdl:message>
	<wsdl:message name="Reservation_bookTicketResponse">
		<wsdl:part name="result" type="irt:TicketInfo" />
	</wsdl:message>
	<wsdl:portType name="Reservation">
		<wsdl:operation name="bookTicket" parameterOrder="tInfo pInfo">
			<wsdl:input message="irw:Reservation_bookTicket" />
			<wsdl:output message="irw:Reservation_bookTicketResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ReservationSOAPBinding" type="irw:Reservation">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="bookTicket">
			<soap:operation soapAction="http://irct.co.in/rail/wsdl:bookTicket" />
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://irct.co.in/rail/wsdl" use="encoded" />
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://irct.co.in/rail/wsdl" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ReservationService">
		<wsdl:port binding="irw:ReservationSOAPBinding" name="ReservationSOAPPort">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
